#canvas{
	border:  5px solid #ced6e0;
	border-radius: 6px;
}
p{
	padding-top: 30px;
	opacity: 0.5;
	color: #b2bec3;
}
#nav{
	font-family: 'Barriecito', cursive;
	font-size: 60px;
	color: #5352ed;
}
#colors{
	color: #2ecc71;
	font-family: 'DM Sans', sans-serif;
	font-size: 25px
}
#range{
	color:#ff4757;
	font-family: 'DM Sans', sans-serif;
	font-size: 25px
}